/* body{
    display: contents;
    font-size: 15px;
    font-family: Apple SD Gothic Neo,arial,sans-serif;
    background-color: #202124;
} */

body{
    background-color: #202124;
    color: #bdc1c6;
    margin: 0;
}

header {
    height: 1px;
}

.naver1{
    float: left;
    margin: 15px;
    margin-right: 200px;
    color: #bdc1c6;

}
.naver2{
    float: right;
    margin: 15px;
}

a{
    text-decoration: none;
    color: #bdc1c6;
    margin-right: 15px;
}

.main{
    margin-top: 260px;
    text-align: center;
}

.input-box{
    width: 460px;
    height: 46px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    color: #202124;
    padding-left: 50px;
    padding-right: 105px;
}

.search-icon{
    position: relative;
    left: 46px;
    color: #dfe1e5;
}
.keyboard-icon{
    position: relative;
    right: 100px;
    color: #dfe1e5;
}
.mic-icon{
    position: relative;
    right: 90px;
    color: #dfe1e5;
}
.camera-icon{
    position: relative;
    right: 80px;
    color: #dfe1e5;
}

.text-area{
    margin-top: 20px;
    background-color: #202124;
}

.btarea{
    padding-top: 20px;
}

.searchbt{
    background-color: #303134;
    border: 1px solid #303134;
    border-radius: 4px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    text-align: center;
    color: #e8eaed;
}

.searchbt:hover{
    box-shadow: 0 2px 2px rgba(0,0,0,.1);
    background-color: #202124;
    border: 2px solid #dadce0;
    color: #dadce0;
}

.last{
    position: absolute;
    bottom: 0px;
    background-color: #151515;
    width: 100%;
}

.national{
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #bdc1c6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}